<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <meta name="Description" content="Cucumber Feature Manager."/>
    <meta name="Keywords" content="cucumber, bdd, tdd, agile, management"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Distribution" content="Global"/>
    <meta name="Author" content="Michał Czyż - michalczyz@gmail.com"/>
    <meta name="Robots" content="index,follow"/>

    <link rel="stylesheet" href="images/Techmania.css" type="text/css"/>
    <link rel="stylesheet" href="images/syntax.css" type="text/css"/>

    <title>Cucumber FM</title>

</head>

<body style="font-size: medium;">
<div id="wrap">

    <div id="header">

        <h1 style="font-size: xx-large;" id="logo-text">Cucumber<span class="gray">FM</span></h1>

        <h2 id="slogan">agile management with plain text</h2>

        <div id="header-tabs">
            <ul>
                <li id="current"><a href="index.html"><span>Home</span></a></li>
                <li><a href="installation.html"><span>Installation</span></a></li>
                <li><a href="usage.html"><span>Usage</span></a></li>
                <li><a href="gallery.html"><span>Gallery</span></a></li>
            </ul>
        </div>

    </div>

    <!-- content-wrap starts here -->
    <div id="content-wrap">

        <div id="main">
            {{ content }}
        </div>

        <div id="sidebar">

            <h1>Useful resources</h1>
            <ul class="sidemenu">
                <li><a href="http://wiki.github.com/aslakhellesoy/cucumber">Cucumber</a></li>
            </ul>

            <h1>Archives</h1>
            <ul class="sidemenu">
                <li><a href="base.html">Home</a></li>
            </ul>

        </div>

        <!-- content-wrap ends here -->
    </div>

    <div id="footer">
		
			<span id="footer-left">
				&copy; 2010 <strong>CS3B Michał Czyż</strong>
			</span>		
			
			<span id="footer-right">
				<a href="index.html">Home</a> | <a href="base.html">RSS Feed</a>
			</span>

    </div>

    <!-- wrap ends here -->
</div>
</body>
</html>